body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #f0f0f0; /* Color de fondo claro */
  color: #333; /* Color de texto oscuro */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #444;
  margin: 0 0 10px 0;
}

a {
  color: #007bff; /* Color azul para los enlaces */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  background-color: #007bff; /* Color de fondo azul */
  color: white; /* Color de texto blanco */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #0056b3; /* Color de fondo más oscuro al pasar el ratón */
}

input, select {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

input:focus, select:focus {
  border-color: #007bff;
  outline: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}

.icon-select {
  display: flex;
  align-items: center;
}

.icon-select img {
  margin-right: 10px;
}

.symbol-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.symbol-item img {
  margin-right: 10px;
}

.event-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}
.react-select-container {
  width: 100%;
  margin: 10px 0;
}
.react-select__option {
  display: flex;
  align-items: center;
}

.react-select__option img {
  margin-right: 10px;
}
.react-select__single-value {
  display: flex;
  align-items: center;
}

.react-select__single-value img {
  margin-right: 10px;
}

.react-select__option {
  display: flex;
  align-items: center;
}

.react-select__option svg {
  color: blue; /* Color azul para los iconos en el menú desplegable */
  margin-right: 10px;
}

.react-select__single-value {
  display: flex;
  align-items: center;
}

.react-select__single-value svg {
  color: blue; /* Color azul para el icono seleccionado */
  margin-right: 10px;
}

.react-select__option {
  display: flex;
  align-items: center;
}

.react-select__option svg {
  color: blue; /* Color azul para los iconos en el menú desplegable */
  margin-right: 10px;
  border: 1px solid blue; /* Borde azul alrededor de los iconos */
  border-radius: 4px; /* Bordes redondeados */
  padding: 2px; /* Espaciado interno */
}

.react-select__single-value {
  display: flex;
  align-items: center;
}

.react-select__single-value svg {
  color: blue; /* Color azul para el icono seleccionado */
  margin-right: 10px;
  border: 1px solid blue; /* Borde azul alrededor del icono seleccionado */
  border-radius: 4px; /* Bordes redondeados */
  padding: 2px; /* Espaciado interno */
}